Repository karyennevu/GENERALs-soen341project2022, pull requests merged in 2022-04, with the labels that each got.

#66 Uploading system files
  Website/wp-admin/Javascript/privacy-tools.js
  Website/wp-admin/Javascript/privacy-tools.min.js
  Website/wp-admin/includes/class-language-pack-upgrader-skin.php
  Website/wp-admin/includes/class-language-pack-upgrader.php
  Website/wp-admin/includes/class-pclzip.php
  Website/wp-admin/includes/class-plugin-installer-skin.php
  Website/wp-admin/includes/class-plugin-upgrader-skin.php
  Website/wp-admin/includes/class-plugin-upgrader.php
  Website/wp-admin/includes/class-theme-installer-skin.php
  Website/wp-admin/includes/class-theme-upgrader-skin.php
  Website/wp-admin/includes/class-theme-upgrader.php
  Website/wp-admin/includes/class-walker-category-checklist.php
  Website/wp-admin/includes/class-walker-nav-menu-checklist.php
  Website/wp-admin/includes/class-walker-nav-menu-edit.php
  Website/wp-admin/includes/class-wp-ajax-upgrader-skin.php
  Website/wp-admin/includes/class-wp-automatic-updater.php
  Website/wp-admin/includes/class-wp-comments-list-table.php
  Website/wp-admin/includes/class-wp-community-events.php
  Website/wp-admin/includes/class-wp-debug-data.php
  Website/wp-admin/includes/class-wp-filesystem-base.php
  Website/wp-admin/includes/class-wp-filesystem-direct.php
  Website/wp-admin/includes/class-wp-filesystem-ftpext.php
  Website/wp-admin/includes/class-wp-filesystem-ftpsockets.php
  Website/wp-admin/includes/class-wp-filesystem-ssh2.php
  Website/wp-admin/profile.php
  Website/wp-admin/revision.php
  Website/wp-admin/setup-config.php
  Website/wp-admin/site-health-info.php
  Website/wp-admin/site-health.php
  Website/wp-admin/term.php
  Website/wp-admin/theme-editor.php
  Website/wp-admin/theme-install.php
  Website/wp-admin/themes.php
  Website/wp-admin/tools.php
  Website/wp-admin/update-core.php
  Website/wp-admin/update.php
  Website/wp-admin/upgrade-functions.php
  Website/wp-admin/upgrade.php
  Website/wp-admin/upload.php
  Website/wp-admin/user-edit.php
  Website/wp-admin/user-new.php
  Website/wp-admin/users.php
  Website/wp-admin/widgets.php
Labels: help wanted, Front-end

#76 Uploading Other System Files
  Website/wp-admin/Javascript/accordion.js
  Website/wp-admin/Javascript/accordion.min.js
  Website/wp-admin/Javascript/code-editor.js
  Website/wp-admin/Javascript/code-editor.min.js
  Website/wp-admin/Javascript/color-picker.js
  Website/wp-admin/Javascript/color-picker.min.js
  Website/wp-admin/Javascript/comment.js
  Website/wp-admin/Javascript/comment.min.js
  Website/wp-admin/Javascript/common.js
  Website/wp-admin/Javascript/common.min.js
  Website/wp-settings.php
  Website/wp-signup.php
  Website/wp-trackback.php
  Website/xmlrpc.php
Labels: Front-end

#78 Added Login Testing Report
  Continuous Testing Reports/Login Automated testing.pdf
Labels: Testing

#79 Adding the Promo Code Test Report
  Continuous Testing Reports/Coupon Code testing.pdf
Labels: Testing
